body {
    background-color: darkorange;
}

.player-row .col-md-1 {
    background-color: white;
}

.battle-row .col-md-1 {
    background-color: lightcoral;
}

.grayedout {
    background-color: gray !important;
}

.money-row .col-md-1 {
    background-color: navajowhite;
}

.wonder-row .col-md-1 {
    background-color: antiquewhite;
}

.civilian-row .col-md-1 {
    background-color: lightblue;
}

.commerce-row .col-md-1 {
    background-color: cornsilk;
}

.science-row .col-md-1 {
    background-color: lightgreen;
}

.guild-row .col-md-1 {
    background-color: mediumpurple;
}

.total-row .col-md-1 {
    background-color: white;
}

.form-control {
    background-color: transparent !important;
    border: none;
}

.col-md-1 {
    padding: 0px 0px 0px 0px;
    border: 1px solid black;
}

.gears-row .col-md-1, .compasses-row .col-md-1, .tablets-row .col-md-1 {
    background-color: darkseagreen;
}

.empty {
    background-color: darkorange;
}

.battle-icon {
    background-color: darkred !important;
}

.wonder-icon {
    background-color: #d5c389 !important;
}

.civilian-icon {
    background-color: steelblue !important;
}

.commerce-icon {
    background-color: goldenrod !important;
}

.scienceItems-icon {
    background-color: darkolivegreen !important;
}

.science-icon {
    background-color: forestgreen !important;
}

.guild-icon {
    background-color: rebeccapurple !important;
}

h1 {
    text-align: center;
}

.total-icon {
    background-color: black !important;
}

input::-ms-input-placeholder {
    color: darkslategray !important;
}

input {
    font-size: 14px !important;
    color: black !important;
}

.icon {
    text-align: center;
    vertical-align: bottom;
}

/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
